[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 3.4
[submodule "Quadtree"]
	path = Quadtree
	url = https://github.com/pvigier/Quadtree.git
[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
